body {
  background: #eee;
}

.container-fluid {
  max-width: 92%;
}

header {
  background: #563d7c;
  padding: 2em 1em;
  color: #fff;
  margin-bottom: 2em;
}

header h1 {
  font-weight: 200;
}

.overflow-hidden {
  overflow: hidden !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  margin-top: 15px;
  background: #fff;
  font-size: 2em !important;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
}

.card .card-button {
  text-align: center;
}

.card .card-button .btn-block {
  padding: 3% 0;
}

.card .card-button button {
  font-size: 1em !important;
  font-weight: bold;
}

.card .card-spinner {
  text-align: center;
}

.card .card-block {
  padding: 0 2% 0 2%;
  max-width: 100%;
  text-align: justify;
}

.card .post-meta {
  margin: 4% 0% 1% 0%;
}

.card .bottom-bar {
  background: #ffffff;
  font-size: 1.2em;
  border-top: 2px dashed #9e9e9e;
}

.card .bottom-bar .upvote {
  color: #bdbdbd;
  border-right: 1px dashed #9e9e9e;
  padding-top: 2%;
  padding-bottom: 2.5%;
  text-align: center;
  display: inline-block;
  width: 33%;
}

.card .bottom-bar .downvote {
  color: #bdbdbd;
  padding-top: 2%;
  border-right: 1px dashed #9e9e9e;
  padding-bottom: 2.5%;
  text-align: center;
  display: inline-block;
  width: 33%;
}

.card .bottom-bar .save {
  color: #bdbdbd;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2.5%;
  text-align: center;
  display: inline-block;
  width: 30%;
}

[class*="row"] {
  margin-bottom: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[class*="col-"] {
  background: #efefef;
  border: 1px solid #ddd;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}

