body {
  width: 100%;
  background: #eee;
}

.container-fluid {
  max-width: 100%;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.header-row {
  position: fixed;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  width: 100%;
  overflow: hidden;
  background: #563d7c;
  color: #fff;
  height: 55px;
  margin: 0 0 auto 0;
  font-size: 1.1em;
  z-index: 100;
}

.header-row a,
.header-row a:hover,
.header-row a:active,
.header-row a:visited,
.header-row a:focus {
  text-decoration: none;
  color: #fff;
}

.header-row .header-logo {
  background: #563d7c !important;
}

.header-row .header-username {
  text-align: center;
  background: #563d7c !important;
}

.header-row .header-category {
  background: #563d7c !important;
}

.header-row span {
  padding-left: 8%;
}

.header-row .sort {
  padding-top: 10px;
  font-size: 1em;
  background: #563d7c !important;
  padding-left: 10px;
}

.header-row .header-profile {
  background: #563d7c;
  padding: 5px;
  margin-left: 15px;
  height: 58%;
}

.header-row .header-profile .profile {
  float: right;
  color: #fff;
  padding-left: 6px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #4DB6AC;
  width: 27px;
  height: 27px;
}

.header-row [class*="col-"] {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

.overflow-hidden {
  overflow: hidden !important;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  margin-top: 15px;
  background: #fff;
  font-size: 1.1em;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
}

.card a,
.card a:hover,
.card a:active,
.card a:visited,
.card a:focus {
  text-decoration: none;
  color: #636b6f;
}

.card .card-title {
  font-size: 1.2em;
  padding: 5px 0 10px 0;
}

.card .card-button {
  text-align: center;
}

.card .card-button .btn-block {
  padding: 3% 0;
}

.card .card-button button {
  font-size: 1em !important;
  font-weight: bold;
}

.card .card-spinner {
  text-align: center;
}

.card .card-block {
  padding: 0 2% 0 2%;
  max-width: 100%;
  text-align: justify;
}

.card .post-meta {
  margin: 4% 0% 1% 0%;
  font-size: 85%;
}

.card .bottom-bar {
  background: #ffffff;
  font-size: 1.3em;
  border-top: 1px dashed #E0E0E0;
}

.card .bottom-bar .upvote {
  color: #bdbdbd;
  border-right: 1px dashed #E0E0E0;
  padding-top: 2%;
  padding-bottom: 2.5%;
  text-align: center;
  display: inline-block;
  width: 32%;
}

.card .bottom-bar .upvoted {
  color: #F57C00 !important;
  border-right: 1px dashed #E0E0E0;
  padding-top: 2%;
  padding-bottom: 2.5%;
  text-align: center;
  display: inline-block;
  width: 32%;
}

.card .bottom-bar .downvote {
  color: #bdbdbd;
  padding-top: 2%;
  border-right: 1px dashed #E0E0E0;
  padding-bottom: 2.5%;
  text-align: center;
  display: inline-block;
  width: 32%;
}

.card .bottom-bar .downvoted {
  color: #1976D2 !important;
  padding-top: 2%;
  border-right: 1px dashed #E0E0E0;
  padding-bottom: 2.5%;
  text-align: center;
  display: inline-block;
  width: 32%;
}

.card .bottom-bar .save {
  color: #bdbdbd;
  padding-top: 2%;
  font-size: 0.9em;
  padding-left: 2%;
  padding-bottom: 2.5%;
  text-align: center;
  display: inline-block;
  width: 30%;
}

.card .bottom-bar .saved {
  color: #f44336;
  padding-top: 2%;
  font-size: 0.9em;
  padding-left: 2%;
  padding-bottom: 2.5%;
  text-align: center;
  display: inline-block;
  width: 30%;
}

[class*="row"] {
  margin-bottom: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[class*="col-"] {
  background: #efefef;
  border: 1px solid #ddd;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}

.row {
  margin: 0 0 0 0 !important;
}

.saved-post-banner {
  background-color: #43A047;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.logout-row {
  position: fixed;
  margin-top: 70px;
  width: 100%;
  text-decoration: none !important;
  margin-bottom: 0 !important;
  background-color: #FF7043;
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 3em;
  display: none;
}

.get-comments-row {
  position: fixed;
  width: 100%;
  text-decoration: none !important;
  margin-bottom: 0 !important;
  background-color: #2196F3;
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 3em;
  display: none;
}

.text-no-decoration a,
.text-no-decoration a:hover,
.text-no-decoration a:active,
.text-no-decoration a:visited,
.text-no-decoration a:focus {
  text-decoration: none;
}

.header-logo-full {
  background: #563d7c !important;
  font-family: Verdana, Geneva, sans-serif;
}

.add-comment-button {
  line-height: 2.5em;
  background-color: #2196F3;
  color: #fff;
}

.comment-add-div {
  display: none;
}

.comment-add-div textarea {
  width: 100%;
  height: 100px;
  border: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.comment-input-buttons {
  margin-top: 10px;
}

.comment-input-buttons .btn-submit {
  width: 90%;
  background-color: #4CAF50;
  color: #fff;
  float: right;
  line-height: 0.9em;
}

.comment-input-buttons .btn-cancel {
  width: 90%;
  background-color: #FF5722;
  color: #fff;
  line-height: 0.9em;
}

.comment-input-buttons [class*="col-"] {
  background: #fff;
  border: none;
  padding: 0;
}

.comment-row {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 0.8em;
  margin-bottom: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment-row .comment-card {
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.comment-row .comment-card a,
.comment-row .comment-card a:hover,
.comment-row .comment-card a:active,
.comment-row .comment-card a:visited,
.comment-row .comment-card a:focus {
  text-decoration: none;
  color: #636b6f;
}

.comment-row .comment-card .comment-delete {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FF5722;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: center;
}

.comment-row .comment-card .comment-vote {
  background-color: #fff;
  border: none;
}

.comment-row .comment-card .comment-text {
  padding: 2px;
  background-color: #fff;
  font-size: 1.1em;
  border: none;
  width: 100%;
}

.comment-row .comment-card .comment-username {
  font-weight: bold;
}

.share-row {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 50px;
  padding: 8px;
  padding-left: 12px;
}

.share-row img {
  height: 95%;
  width: 32%;
}

.comments-container {
  margin-bottom: 40px;
}

.sort-options {
  display: none;
  position: relative;
  float: right;
  font-weight: bold;
  z-index: 99;
  margin-top: 55px;
  margin-bottom: -115px;
}

.sort-options .sort-options-row {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 30px;
}

.sort-options a,
.sort-options a:hover,
.sort-options a:active,
.sort-options a:visited,
.sort-options a:focus {
  text-decoration: none;
  color: #00BCD4;
}

.categories {
  display: none;
  position: absolute;
  font-weight: bold;
  z-index: 99;
  margin-left: 20%;
  margin-top: 55px;
  color: #FF5722;
}

.categories .category-row {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 30px;
  border-bottom: 1px solid #E0E0E0;
}

.categories a,
.categories a:hover,
.categories a:active,
.categories a:visited,
.categories a:focus {
  text-decoration: none;
  color: #FF5722;
}

.source-link {
  float: right !important;
  text-align: right;
  color: #fff;
  padding: 0;
  padding-left: 20px !important;
  background-color: #4CAF50;
  margin: 5px -12px 5px 0px;
  border: none !important;
  font-size: 1em;
  text-shadow: 0px 1px 2px #bbb;
  -webkit-box-shadow: 0px 2px 4px #888;
  box-shadow: 0px 2px 4px #888;
}

.source-link a,
.source-link a:hover,
.source-link a:active,
.source-link a:visited,
.source-link a:focus {
  text-decoration: none;
  color: #fff;
}

.source-link:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  border-width: 10px 10px;
  border-style: solid;
  border-color: #1B5E20 transparent transparent #1B5E20;
}

.margin-top-35px {
  margin-top: 35px !important;
}

.category-link {
  float: left !important;
  color: #fff;
  padding: 0;
  padding-right: 0 !important;
  padding-left: 8px !important;
  background-color: #FF7043;
  margin: 5px 0px 5px -12px;
  border: none !important;
  font-size: 1em;
  text-shadow: 0px 1px 2px #bbb;
  -webkit-box-shadow: 0px 2px 4px #888;
  box-shadow: 0px 2px 4px #888;
}

.category-link a,
.category-link a:hover,
.category-link a:active,
.category-link a:visited,
.category-link a:focus {
  text-decoration: none;
  color: #fff;
}

.category-link:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 10px 10px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
  z-index: -1;
}

@media only screen and (max-width: 340px) {
  .category-link {
    font-size: 0.8em;
  }

  .source-link {
    font-size: 0.8em;
  }
}

