
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//font-awesome

$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;

@import 'node_modules/font-awesome/scss/font-awesome.scss';

.header-row {
  position: fixed;
  transition: top 0.2s ease-in-out;
  width: 100%;
  overflow: hidden;
  background: #563d7c;
  color: #fff;
  height: 55px;
  margin: 0 0 auto 0;
  font-size: 1.1em;
  z-index: 100;

  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #fff;
  }

  .header-logo{
    background: #563d7c !important;
  }
  .header-username{
    /*text-align: center;*/
    padding-left: 20px;
    background: #563d7c !important;
  }
  .header-category{
    background: #563d7c !important;
  }
  span{
    padding-left: 8%;
  }

  .sort{
    padding-top: 12px;
    font-size: 1em;
    background: #563d7c !important;
    padding-left: 10px;
  }
  .header-profile{
    background: #563d7c;
    padding: 5px;
    margin-left: 25px;
    height: 58%;
    .profile{
      float: right;
      color: #fff;
      padding-left:6px;
      border-radius: 50%;
      font-weight:bold;
      font-size: 1.2em;
      background-color: #4DB6AC;
      width: 27px;
      height: 27px;
    }
  }
  [class*="col-"] {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
  }
}

.header-logo-full{
  background: #563d7c !important;
  margin-top: 5px !important;
  font-family: Verdana, Geneva, sans-serif;
  padding-top: 6px;
}

.limit-line-height{
  line-height: 1.2;
}

.header-container{
  width: 100%;
  /*overflow: hidden;*/
  position: fixed;
  height: 55px;
  background-color: #563d7c !important;
  z-index: 2;
}

@media only screen and (min-width: 600px) {
  .container-fluid { 
    max-width: 500px;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .get-comments-row, .logout-row{
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }

  .profile-comments{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  .header-row { 
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
  .share-row {
    max-width: 500px;
    margin-left: 33% !important;
  }

  .categories{
    max-width: 200px;
    margin-left: 42% !important;
  }

  .sort-options{
    max-width: 150px;
    margin-left: 62% !important;
  }
}