body { background: #eee;}

header {
  color: #fff;
  display: block;
  padding-top: 10px;
  h1 {
    font-weight: 200;
  }

  span { 
    font-size: 1.4em;
    margin-left: 5%;
  }
}

.header{
  background: #563d7c;
  height: 50px;
}
.card {
  margin-top: 15px;
  background: #fff;
  font-size: 2em !important;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  img {
    width: 100%;
  }

  .card-button{
    text-align: center;
    .btn-block {
      padding: 3% 0; 
    }
    button{
      font-size: 1em !important;      
      font-weight: bold;
    }
  }
  
  .card-spinner{
    text-align: center;
  }

  .card-block{
    padding: 0 2% 0 2%;
    max-width: 100%;
    text-align:justify;
  }

  .post-meta{
    margin: 4% 0% 1% 0%;
  }

  .bottom-bar {
    background: #ffffff;
    font-size: 1.2em;
    border-top: 2px dashed #9e9e9e;
    .upvote {
      color: #bdbdbd;
      border-right: 1px dashed #9e9e9e;
      padding-top: 2%;
      padding-bottom: 2.5%;
      text-align: center;
      display: inline-block;
      width: 33%;
    }
    .downvote {
      color: #bdbdbd;
      padding-top: 2%;
      border-right: 1px dashed #9e9e9e;
      padding-bottom: 2.5%;
      text-align: center;
      display: inline-block;
      width: 33%;
    }
    .save {
      color: #bdbdbd;
      padding-top: 2%;      
      padding-left: 2%;
      padding-bottom: 2.5%;
      text-align: center;
      display: inline-block;
      width: 30%;
    }
  }
}



//Login and Register Form
.panel-login {
  margin-top: 22px;
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0 !important;
  outline: none;
  color: #fff !important;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
  font-weight: bold;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E !important;
  outline: none;
  color: #fff !important;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
  font-weight: bold;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}
