body { 
  width: 100%;
  background: #eee;
}

.container-fluid { 
  max-width: 100%;
  padding-right: 10px !important;
  padding-left: 10px !important;
}


.header-row {
  position: fixed;
  display: block;
  transition: top 0.2s ease-in-out;
  width: 100%;
  overflow: hidden;
  background: #563d7c;
  color: #fff;
  height: 55px;
  margin: 0 0 auto 0;
  font-size: 1.1em;
  z-index: 100;

  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #fff;
  }

  .header-logo{
    background: #563d7c !important;
    margin-right: 0; 
    padding-right:0;
  }
  .header-username{
    padding-left: 0;
    background: #563d7c !important;
  }
  .header-category{
    background: #563d7c !important;
    padding-left: 0;
  }
  span{
    padding-left: 8%;
  }

  .sort{
    padding-top: 12px;
    font-size: 1em;
    background: #563d7c !important;
    padding-left: 10px;
  }
  .header-profile{
    background: #563d7c;
    padding: 5px;
    margin-left: 15px;
    height: 58%;
    .profile{
      float: right;
      color: #fff;
      padding-left:6px;
      border-radius: 50%;
      font-weight:bold;
      font-size: 1.2em;
      background-color: #4DB6AC;
      width: 27px;
      height: 27px;
    }
  }
  [class*="col-"] {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
  }
}

.overflow-hidden{
  overflow:hidden !important;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  margin-top: 15px;
  background: #fff;
  font-size: 1.1em;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  img {
    width: 100%;
  }

  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #636b6f;
  }
  
  .card-title{
    font-size: 1.2em;
    padding: 5px 0 10px 0;
  }
  .card-button{
    text-align: center;
    .btn-block {
      padding: 3% 0; 
    }
    button{
      font-size: 1em !important;      
      font-weight: bold;
    }
  }

  .card-spinner{
    text-align: center;
  }

  .card-block{
    padding: 0 2% 0 2%;
    max-width: 100%;
    text-align:justify;
  }

  .post-meta{
    margin: 5% 0% 0% 0%;
    font-size: 85%;
  }

  .bottom-bar {
    background: #ffffff;
    font-size: 1.3em;
    border-top: 1px dashed #E0E0E0;
    .upvote {
      color: #bdbdbd;
      border-right: 1px dashed #E0E0E0;
      padding-top: 2%;
      padding-bottom: 2.5%;
      text-align: center;
      display: inline-block;
      width: 32%;
    }
    .upvoted {
      color: #F57C00 !important;
      border-right: 1px dashed #E0E0E0;
      padding-top: 2%;
      padding-bottom: 2.5%;
      text-align: center;
      display: inline-block;
      width: 32%;
    }
    .downvote {
      color: #bdbdbd;
      padding-top: 2%;
      border-right: 1px dashed #E0E0E0;
      padding-bottom: 2.5%;
      text-align: center;
      display: inline-block;
      width: 32%;
    }
    .downvoted {
      color: #1976D2 !important;
      padding-top: 2%;
      border-right: 1px dashed #E0E0E0;
      padding-bottom: 2.5%;
      text-align: center;
      display: inline-block;
      width: 32%;
    }
    .save {
      color: #bdbdbd;
      padding-top: 2%;
      font-size: 0.9em;      
      padding-left: 2%;
      padding-bottom: 2.5%;
      text-align: center;
      display: inline-block;
      width: 30%;
    }
    .saved {
      color: #f44336;
      padding-top: 2%;
      font-size: 0.9em;      
      padding-left: 2%;
      padding-bottom: 2.5%;
      text-align: center;
      display: inline-block;
      width: 30%;
    }
  }
}

[class*="row"] {
  margin-bottom: 1em;
  justify-content: center;
}

[class*="col-"] {
  background: #efefef;
  border: 1px solid #ddd;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
}

.row{
  margin: 0 0 0 0 !important;
}

.saved-post-banner{
  background-color:#43A047;
  text-align:center;
  color:#fff;
  font-weight:bold;
}

.logout-row{
  position: fixed;
  margin-top: 70px;
  width: 100%;
  text-decoration: none !important;
  margin-bottom: 0 !important;
  background-color: #FF7043;
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 3em;
  display: none;
}

.get-comments-row{
  position: fixed;
  width: 100%;
  text-decoration: none !important;
  margin-bottom: 0 !important;
  background-color: #2196F3;
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 3em;
  display: none;
}

.text-no-decoration{
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
  }
}

.header-logo-full{
  background: #563d7c !important;
  margin-top: 5px !important;
  font-family: Verdana, Geneva, sans-serif;
}

.add-comment-button{
  line-height: 2.5em;
  background-color: #2196F3;
  color: #fff; 
}

.comment-add-div{
  display: none;
  textarea {
    width: 100%;
    height: 100px;
    border: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
}

.comment-input-buttons{
  margin-top: 10px;
  .btn-submit{
    width: 90%;
    background-color: #4CAF50;
    color: #fff;
    float: right;
    line-height: 0.9em;
  }
  .btn-cancel{
    width: 90%;
    background-color: #FF5722;
    color: #fff;
    line-height: 0.9em;
  }

  [class*="col-"] {
    background: #fff;
    border: none;
    padding: 0;
  }
}

.comment-row{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 0.8em;
  margin-bottom: 1em;
  justify-content: center;

  .comment-card{
    background: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    
    a, a:hover, a:active, a:visited, a:focus {
      text-decoration:none;
      color: #636b6f;
    }

    .comment-delete{
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: #FF5722;
      color: #fff;
      font-size: 1.2em;
      line-height: 1.5em;
      text-align: center;
    }
    .comment-vote{
      background-color: #fff;
      border: none;
    }
    .comment-text{
      padding: 2px;
      background-color: #fff;
      font-size: 1.1em;
      border: none;
      width: 100%;
    }
    .comment-username{
      font-weight: bold;
    }
  }
}

.share-row { 
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 6px;
  padding-left: 8px;

  img{
    height: 95%;
    width: 32%;
  }
}

.comments-container{
  margin-bottom: 40px;

}

.sort-options { 
  display: none;
  position: fixed!important;
  float:right!important;
  font-weight: bold;
  z-index: 99;
  margin-top: 55px;
  margin-left: 70%;
  background-color: #fff;
  .sort-options-row{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 30px;
  }
  a, a:hover, a:active, a:visited, a:focus{
    text-decoration:none;
    color: #00BCD4;
  }
}

.categories { 
  display: none;
  position: fixed !important;
  font-weight: bold;
  z-index: 99;
  margin-top: 55px;
  color: #FF5722;
  background-color: #fff;
  margin-left: 33%;
  .category-row{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 30px;
    border-bottom:1px solid #E0E0E0;
  }
  a, a:hover, a:active, a:visited, a:focus{
    text-decoration:none;
    color: #FF5722;
  }
}

.source-link{
  float: right !important;
  text-align: right;
  color: #fff;
  padding: 0;
  padding-left: 20px !important;
  background-color: #4CAF50;
  margin: 5px -12px 5px 0px;
  border: none !important;
  font-size: 1em;
  text-shadow: 0px 1px 2px #bbb;
  -webkit-box-shadow: 0px 2px 4px #888;
  -moz-box-shadow: 0px 2px 4px #888;
  box-shadow: 0px 2px 4px #888;
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #fff;
  }
}

.source-link:after{
  content: "\0020";
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  border-width: 10px 10px;
  border-style: solid;
  border-color: #1B5E20 transparent transparent #1B5E20;
}

.margin-top-35px{
  margin-top: 35px !important;
}

.category-link{
  float: left !important;
  color: #fff;
  padding: 0;
  padding-right: 0 !important;
  padding-left: 8px !important;
  background-color: #FF7043;
  margin: 5px 0px 5px -12px;
  border: none !important;
  font-size: 1em;
  text-shadow: 0px 1px 2px #bbb;
  -webkit-box-shadow: 0px 2px 4px #888;
  -moz-box-shadow: 0px 2px 4px #888;
  box-shadow: 0px 2px 4px #888;
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #fff;
  }
}

.category-link:after{
  content: '\0020';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 10px 10px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
  z-index: -1;
}

.post-source{
  position: relative;
  margin-top: -2%;
  margin-bottom: 2%;
  margin-right: -5px;
  margin-left: -5px;
  font-size: 85%;
}

.post-source:before,
.post-source:after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -14px;
  z-index: -1;
  width: 0;
  height: 0;
  border-right: 19px solid #757575;
  border-top: 14px solid rgba(0, 0, 0, 0);
  border-bottom: 14px solid rgba(0, 0, 0, 0);
}

.post-source:after{
  left: auto;
  right: 0;
  border-right: 0;
  border-left: 19px solid #757575;
}

.hindustan-times{
  background-color: #46A5D2;
  color: white;
  text-align:center;
  font-size: 11px;
}

.ndtv-gadgets360{
  background-color: #EA242E;
  color: white;
  text-align:center;
  font-size: 11px;
}

.ndtv-news{
  background-color: #424242;
  color: #E62A32;
  text-align:center;
  font-size: 11px;
}

.header-container{
  width: 100%;
  /*overflow: hidden;*/
  position: fixed;
  height: 55px;
  background-color: #563d7c !important;
  z-index: 2;
}

.social-card-heading{
  position: relative;
  max-width: 500px;
  background-color: #FF7043;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin-left: -5px;
  margin-right: -5px;
  line-height: 0.8;
  font-size: 14px;
}


.social-card-heading:before,
.social-card-heading:after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -14px;
  z-index: -1;
  width: 0;
  height: 0;
  border-right: 19px solid #757575;
  border-top: 14px solid rgba(0, 0, 0, 0);
  border-bottom: 14px solid rgba(0, 0, 0, 0);
}

.social-card-heading:after{
  left: auto;
  right: 0;
  border-right: 0;
  border-left: 19px solid #757575;
}


.social-card-body{
  max-width: 500px;
  min-height: 50px;
  padding: 15px;
  background-color: #fff;
  /*border-bottom: 5px solid #4DB6AC;*/
  .twitter-follow{
    display: inline; 
    float: right;
  }
}

.social-card{
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);
}

@media only screen and (min-width: 600px) {
  .container-fluid { 
    max-width: 500px;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .container { 
    max-width: 500px;
  }
  .get-comments-row, .logout-row{
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }

  .profile-comments{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }

  .header-row { 
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
  .share-row {
    max-width: 500px;
    margin-left: 33% !important;
  }

  .categories{
    max-width: 200px;
    margin-left: 42% !important;
  }

  .sort-options{
    max-width: 150px;
    margin-left: 62% !important;
  }
}

@media only screen and (max-width: 340px) {
  .category-link{
    font-size: 0.8em;
  }
  .source-link{
    font-size: 0.8em;
  }
  .header-logo{
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 388px) {
  .header-profile{
    margin-left: 10px !important;
  }

  .header-username{
    padding-left: 0 !important;
  }

  .header-category{
    padding-left: 0 !important;
  }
}